[submodule "subprojects/entt"]
	path = subprojects/entt
	url = https://github.com/skypjack/entt.git
[submodule "subprojects/grlx-rpc"]
	path = subprojects/grlx-rpc
	url = git@github.com:grlx-labs/grlx-rpc.git
[submodule "cereal-patches"]
	path = subprojects/packagefiles/cereal-patches
	url = https://github.com/grlx-labs/cereal-patches.git
